html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquotebefore, blockquoteafter,
qbefore, qafter {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}


/* Page CSS */
:root{
    width: 100vw;
    height: 100vh;
    --background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.main-container{
    display: flex;
    overflow: clip;
}
.logo-container{
    position: absolute;
    width: 40vw;
    height: 100vh;
}
.hero-container{
    margin-top: 3rem;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem;
}
.hero-container>h1{
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 56px;
}
.parallax {
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-areas: "stack";
}
.parallax>*{
    grid-area: stack;
}
.parallax>img{
    object-position: -550px;
    overflow: hidden;
    height: 100vh;
}



/* Form Container */

.form-container{
    left: 40%;
    position: absolute;
    background-color: var(--background-color);
    width: 60vw;
    height: 100vh;

}
.form-container-content{
    margin: 3.5rem;
    margin-right: 10%;
}
.disclaimer-control>p{
    font-size: 18px;
}
.form-header{
    margin-top: 10%;
    font-size: 36px;
}
.input-fieldset{
    margin-top: 3rem;
    margin-right: 10%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 2rem;
    column-gap: 5rem;
    margin-bottom: 2rem;
}
input{
    background-color: black;
    color: white;
    border: 1px solid #7f0592;
    font-size: 16px;
}
input:focus{
    outline: none;
    border: 1px solid #aa06c4;
    box-shadow: 0 0 10px #821B84;
}
#btn-submit {
    align-self: center;
    align-items: center;
    border-radius: 15px;
    padding: 1rem 2rem;
    min-width: 15%;
    max-width: 20%;
    background-image: linear-gradient(to right, #470252 0%, #821B84  51%, #470252  100%);
    transition: 0.3s;
    background-size: 200% auto;
    color: white;
    border: none;          
    display: block;
}
#btn-submit:hover {
    background-position: right center;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
#btn-submit:active{
    animation: btn-submit 0.4s ease-in-out;
}
input::placeholder{
    font-size: 14px;
    color: #ce0c9d;
}

@keyframes btn-submit {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0.90);
    }
  }